* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-color: #654321;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 2em;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

#hero {
    background-color: #b5651d;
    color: white;
    padding: 100px 0;
    text-align: center;
}

#about,
#projects,
#contact {
    padding: 60px 0;
    text-align: center;
}

.project {
    background-color: #e7e7e7;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}